#search {
    position: fixed;
    bottom: 80%;
    right: 40%;
    width: 300px;
    text-align: center;

    
}
#search-bar{
    padding: 5px;
}

#card{
    position: fixed;
    top: 40%;
    right: 40%;
    width: 300px;
    text-align: center;
    border-color: blue;
    border: double;
}

#name{
    font-size: 20px;
}